:root {
  --fondo: #aec1ba;
  --principal: #cf755a;
  --blanco: #fff;
  --negro: #000;
  --icons_p: #3d3737;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  background-color: var(--fondo);
}

/* navbar */
.nav-menu {
  height: 8%;
  display: flex;
  align-items: center;
}
.nav-menu > i {
  font-size: 24px;
}
.nav-menu > .fa-qrcode {
  margin-right: 10px;
  margin-left: auto;
}

.nav-menu > .fa-user-alt {
  margin-right: 10px;
}
/* Colores de los iconos */
.nav-menu,
.producto_p_c > .fas {
  color: var(--icons_p);
}
/* Buscador */
.nav-menu > .search {
  background-color: var(--blanco);
  width: 273px;
  height: 29px;
  float: left;
  border: solid 1px var(--principal);
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  margin-left: 10px;
}
.nav-menu > .search > i {
  margin: 0 5px 0 5px;
}
.nav-menu > .search > input {
  border-radius: 5px;
  flex: 1;
  border: none;
  height: 25px;
  line-height: 25px;
  outline: 0;
}

/* Cuerpo */
.cuerpo {
  height: 92%;
  width: 100%;
}

/* Todas la categorias */
.nav-categoria {
  width: 20%;
  float: left;
  height: 100%;
  overflow: auto;
}

.nav-categoria > .item-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-category {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.item-category > i {
  font-size: 23px;
  color: var(--icons_p);
}
.item-category > p {
  color: var(--icons_p);
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  text-align: center;
}

/* Lista de productos */
.list-productos {
  width: 80%;
  overflow: auto;
  float: right;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 120px);
}

.producto_p_c {
  margin-top: 6px;
  background-color: var(--blanco);
  width: 94px;
  height: 116px;
  border-radius: 16px;
  justify-self: center;
}

.img_producto {
  display: flex;
  position: relative;
  width: 100%;
  height: 70%;
  background-color: #fbf2ef;
  border-radius: 16px;
  border: solid 1px #cf755a;
  box-sizing: border-box;
}
.img_producto > .fas {
  font-size: 80%;
}
.img_producto > .fa-ellipsis-h {
  float: left;
  z-index: 2;
  margin-left: 5px;
  margin-top: 5px;
  color: var(--icons_p);
}

.img_producto > .fa-plus {
  z-index: 2;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
  color: var(--icons_p);
}
.img_producto > img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.nombre_producto {
  width: 100%;
  height: 30%;
  padding-top: 10px;
}

.text-nombre {
  font-family: "Roboto", sans-serif;
  font-size: 40%;
  text-align: center;
}

.text-precio {
  font-family: "Roboto", sans-serif;
  font-size: 60%;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
